<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="./assets/img/favicon.png">
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    KITS SINGAPURAM
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/material-kit.css') }}">bgg
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/vengix.css') }}" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="./assets/demo/demo.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet" />
  </head>
<body class="index-page sidebar-collapse">
  <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100" id="sectionsNav">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="/">
		  <div class="logo-image">
			<img src="https://www.norquest.ca/NorquestCollege/media/images/NorQuest_College_Logo.png" class="img-fluid">
		  </div>
		</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="dropdown nav-item">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
              <i class="material-icons">apps</i> Components
            </a>
            <div class="dropdown-menu dropdown-with-icons">
              <a href="./index.html" class="dropdown-item">
                <i class="material-icons">layers</i> All Components
              </a>
              <a href="#" class="dropdown-item">
                <i class="material-icons">content_paste</i> Documentation
              </a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0)" onclick="scrollToDownload()">
              <i class="material-icons">cloud_download</i> Download
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="follow us on twitter" data-placement="bottom" href="https://twitter.com/Adarshreddyash" target="_blank" data-original-title="Follow us on Twitter">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/Adarshreddy.adelli" target="_blank" data-original-title="Like us on Facebook">
              <i class="fa fa-facebook-square"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="#" target="_blank" data-original-title="Follow us on Instagram">
              <i class="fa fa-instagram"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="page-header header-filter clear-filter puple-filter" data-parallax="true" style="background-image: url('http://kitssingapuram.ac.in/new/slides/new/2.JPG');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
		  <h2></h2>
			<div class="s130">
			  <form>
				<div class="inner-form">
				  <div class="input-field first-wrap">
					<div class="svg-wrapper">
					  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
						<path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
					  </svg>
					</div>
					<input id="search" type="text" placeholder="What are you looking for?" />
				  </div>
				  <div class="input-field second-wrap">
					<button class="btn-search" type="button">SEARCH</button>
				  </div>
				</div>
				<span class="info">ex. News, websites, Faculty, Departments</span>
			  </form>
			</div>
          </div>
        </div>
		<small class="text-white font-weight-bold mb-0 mr-2">Accredited by</small>
		<img src="https://upload.wikimedia.org/wikipedia/en/thumb/b/b1/Tata_Consultancy_Services_Logo.svg/1280px-Tata_Consultancy_Services_Logo.svg.png" style="height: 40px;">
      </div>
    </div>
  </div>
  <div class="main main-raise">
    <div class="section section-basic">
      <div class="container">
		<div class="row text-center">
          <div class="col-md-8 ml-auto mr-auto">
            <h2>Why KiTS?</h2>
            <h4>Because we are
              <a href="#" target="_blank">Kitians</a>.Our mission is to offer education that is validated higher..!</h4>
          </div>
          <div class="col-sm-8 col-md-5 ml-auto mr-auto">
            <a href="#" class="btn btn-rose btn-upgrade btn-lg" target="_blank">
              <i class="material-icons">play_arrow</i> watch video
            </a>
          </div>
        </div>
		<link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,900" rel="stylesheet">

		<div class="container">
		  <div class="row">
			<div class="col-md-4">
			  <div class="card card-1">
				<h3>Ionic Native</h3>
				<p>A curated set of   ES5/ES6/TypeScript wrappers for plugins to easily add any native functionality to your Ionic apps.</p>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="card card-2">
				<h3>UI Components</h3>
				<p>Tabs, buttons, inputs, lists, cards, and more! A comprehensive library
				  of mobile UI components, ready to go.</p>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="card card-3">
				<h3>Theming</h3>
				<p>Learn how to easily customize and modify your app’s design to fit your
				  brand across all mobile platform styles.</p>
			  </div>
			</div>
		  </div>
		</div>
		
		<div class="section">
		<div class="container">
		  <div class="row">
			<div class="col-md-4 col-xl-3">
			  <h2 class="title">Departments</h2>
			  <div class="cardg bg-c-blue order-card">
                <div class="card-block">
				  <h6 class="m-b-20">Orders Received</h6>
				  <h2 class="text-right"><i class="fa fa-cart-plus f-left"></i><span>486</span></h2>
				  <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
			  </div>
			</div>

			<div class="col-md-4 col-xl-3">
			  <div class="cardg bg-c-green order-card">
                <div class="card-block">
				  <h6 class="m-b-20">Orders Received</h6>
				  <h2 class="text-right"><i class="fa fa-rocket f-left"></i><span>486</span></h2>
				  <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
			  </div>
			</div>

			<div class="col-md-4 col-xl-3">
			  <div class="cardg bg-c-yellow order-card">
                <div class="card-block">
				  <h6 class="m-b-20">Orders Received</h6>
				  <h2 class="text-right"><i class="fa fa-refresh f-left"></i><span>486</span></h2>
				  <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
			  </div>
			</div>
		  </div>
			<div class="col-md-4 col-xl-3">
			  <div class="cardg bg-c-pink order-card">
                <div class="card-block">
				  <h6 class="m-b-20">Orders Received</h6>
				  <h2 class="text-right"><i class="fa fa-credit-card f-left"></i><span>486</span></h2>
				  <p class="m-b-0">Completed Orders<span class="f-right">351</span></p>
                </div>
			  </div>
			</div>
		  </div>
		</div>
		<div class="container">
		  <h2 class="title">NoticeBoard</h2>
		  <div class="row">
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/37360" alt="example design logo">
                <div class="inner-wrapper">
                  <p href="#">Conducted an event on Machine learning and Natural language processing.</p>
                  <p class="fine-print">CSE DEPARTMENT</p>
                </div>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="http://assets.servedby-buysellads.com/p/manage/asset/id/62095" alt="example design logo">
                <div class="inner-wrapper">
                  <p>Test the UX of your website. Diagnose problem areas &amp; prove new designs work.</p>
                  <p class="fine-print">ads via Carbon</p>
                </div>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/62661" alt="example business logo">
                <div class="inner-wrapper">
                  <p>The new generation of project management tools is here and it’s visual.</p>

                  <p class="fine-print">ads via Carbon</p>
                </div>
			  </div>
			</div>
		  </div>

		  <div class="row">   
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/62618" alt="example development logo">
                <div class="inner-wrapper">
                  <p>Own your code from end to end. Resolve errors way faster right in your workflow.</p>

                  <p class="fine-print">ads via Carbon</p>
                </div>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/32547" alt="example design logo">
                <div class="inner-wrapper">
                  <p>Beautifully simple creative portfolio websites, included with Creative Cloud.</p>

                  <p class="fine-print">ads via Carbon</p>
                </div>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/62648" alt="example design logo">
                <div class="inner-wrapper">
                  <p>Introduce yourself. Properly. MOO premium Business Cards, Postcards, Stickers and more.</p>

                  <p class="fine-print">ads via Carbon</p>
                </div>
			  </div>
			</div>
		  </div>
		  <div class="row">   
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/36876" alt="example development logo">
                <div class="inner-wrapper">
				  <p>What will your code do? Get started for free.</p>

				  <p class="fine-print">ads via Carbon</p>
                </div>
			  </div>
			</div>   
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/61060" alt="example business logo">
                <div class="inner-wrapper">
                  <p>Want your team to do more in less time? Try Asana today.</p>

                  <p class="fine-print">ads via Carbon</p>
                </div>
			  </div>
			</div>   
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/27609" alt="example design logo">
                <div class="inner-wrapper">
				  <p>Make your next move with an impressive portfolio website. Start your free trial.</p>

				  <p class="fine-print">ads via Carbon</p>
                </div>
			  </div>
			</div>
		  </div>
		  <div class="row">   
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/61601" alt="example business logo">
                <div class="inner-wrapper">
				  <p>Understand user behavior &amp; ship product faster. Try Amplitude free today.</p>

				  <p class="fine-print">ads via Carbon</p>
                </div>
			  </div>
			</div>    
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/32053" alt="example business logo">
                <div class="inner-wrapper">
				  <p>All the tools your team needs in one place. Slack: Where work happens.</p>

				  <p class="fine-print">ads via Carbon</p>
                </div>
			  </div>
			</div>  
			<div class="col-md-4">
			  <div class="carbon-example flex-wrapper">
                <img src="https://assets.servedby-buysellads.com/p/manage/asset/id/37655" alt="example design logo">
                <div class="inner-wrapper">
				  <p>FullStory shows you bugs, so you don't have to repro them yourself. Use it now!</p>

				  <p class="fine-print">ads via Carbon</p>
                </div>
			  </div>
			</div>   
		  </div>
		</div>
		<div class="section text-center">
		  <div class="row">
			<div class="col-md-8 ml-auto mr-auto">
			  <h2 class="title">About us</h2>
			  <h5 class="description">This is the paragraph where you can write more details about your product. Keep you user engaged by providing meaningful information. Remember that by this time, the user is curious, otherwise he wouldn&apos;t scroll to get here. Add a button if you want the user to see more.</h5>
			</div>
		  </div>
		  <div class="features">
			<div class="row">
			  <div class="col-md-4">
				<div class="info">
				  <div class="icon icon-info">
					<i class="material-icons">chat</i>
				  </div>
				  <h4 class="info-title">Free Chat</h4>
				  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
				</div>
			  </div>
			  <div class="col-md-4">
				<div class="info">
				  <div class="icon icon-success">
					<i class="material-icons">verified_user</i>
				  </div>
				  <h4 class="info-title">Verified Users</h4>
				  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
				</div>
			  </div>
			  <div class="col-md-4">
				<div class="info">
				  <div class="icon icon-danger">
					<i class="material-icons">fingerprint</i>
				  </div>
				  <h4 class="info-title">Fingerprint</h4>
				  <p>Divide details about your product or agency work into parts. Write a few lines about each one. A paragraph describing a feature will be enough.</p>
				</div>
			  </div>
			</div>
		  </div>
		</div>
		</div>
		
          <!--        primary navbar  -->
          <nav class="navbar navbar-expand-lg bg-primary">
            <div class="container">
              <div class="navbar-translate">
                <a class="navbar-brand" href="#0">Primary Color</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                  <li class="active nav-item">
                    <a href="#pablo" class="nav-link">
                      <i class="material-icons">explore</i> Discover
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#pablo" class="nav-link">
                      <i class="material-icons">account_circle</i> Profile
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#pablo" class="nav-link">
                      <i class="material-icons">settings</i> Settings
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!--        end primary navbar -->
          <!--         inverse navbar with notifications     -->
          <nav class="navbar navbar-inverse navbar-expand-lg bg-dark" role="navigation-demo">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-translate">
                <a class="navbar-brand" href="#0">Navbar with notification</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a href="#pablo" class="nav-link">
                      Discover
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#pablo" class="nav-link">
                      Wishlist
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#pablo" class="btn btn-rose btn-raised btn-fab btn-round" data-toggle="dropdown">
                      <i class="material-icons">email</i>
                    </a>
                  </li>
                  <li class="dropdown nav-item">
                    <a href="#pablo" class="profile-photo dropdown-toggle nav-link" data-toggle="dropdown">
                      <div class="profile-photo-small">
                        <img src="./assets/img/faces/avatar.jpg" alt="Circle Image" class="rounded-circle img-fluid">
                      </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                      <h6 class="dropdown-header">Dropdown header</h6>
                      <a href="#pablo" class="dropdown-item">Me</a>
                      <a href="#pablo" class="dropdown-item">Settings and other stuff</a>
                      <a href="#pablo" class="dropdown-item">Sign out</a>
                    </div>
                  </li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-->
          </nav>
          <!--            end inverse navbar -->
          <!--        default navbar with profile photo -->
          <nav class="navbar navbar-default navbar-expand-lg" role="navigation-demo">
            <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-translate">
                <a class="navbar-brand" href="#0">Navbar with profile</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a href="#pablo" class="nav-link">
                      Discover
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#pablo" class="nav-link">
                      Wishlist
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#pablo" class="btn btn-rose btn-raised btn-round " data-toggle="dropdown">
                      Register
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-->
          </nav>
          <!--                end default navbar -->
          <!--        transparent navbar -->
          <nav class="navbar navbar-transparent navbar-expand-lg">
            <div class="container">
              <div class="navbar-translate">
                <a class="navbar-brand" href="#pablo">Transparent</a>
                <button type="button" class="ml-auto navbar-toggler" data-toggle="collapse" data-target="#example-navbar-transparent">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                  <span class="navbar-toggler-icon"></span>
                </button>
              </div>
              <div class="collapse navbar-collapse" id="example-navbar-transparent">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a href="#pablo" class="nav-link">
                      <i class="fa fa-facebook-square"></i> Facebook
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#pablo" class="nav-link">
                      <i class="fa fa-twitter"></i> Twitter
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="#pablo" class="nav-link">
                      <i class="fa fa-instagram"></i> Instagram
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
          <!--        end transparent navbar-->
        </div>
      </div>
      <!-- end navbar  -->
    <!--        notifications -->
    <div class="section cd-section section-notifications" id="notifications">
      <div class="container">
        <div class="title">
          <h3>Notifications</h3>
        </div>
      </div>
      <div class="alert alert-info">
        <div class="container">
          <div class="alert-icon">
            <i class="material-icons">info_outline</i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
          </button>
          <b>Info alert:</b> You&apos;ve got some friends nearby, stop looking at your phone and find them...
        </div>
      </div>
      <div class="alert alert-success">
        <div class="container">
          <div class="alert-icon">
            <i class="material-icons">check</i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
          </button>
          <b>Success Alert:</b> Yuhuuu! You&apos;ve got your $11.99 album from The Weeknd
        </div>
      </div>
      <div class="alert alert-warning">
        <div class="container">
          <div class="alert-icon">
            <i class="material-icons">warning</i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
          </button>
          <b>Warning Alert:</b> Hey, it looks like you still have the &quot;copyright &#xA9; 2015&quot; in your footer. Please update it!
        </div>
      </div>
      <div class="alert alert-danger">
        <div class="container">
          <div class="alert-icon">
            <i class="material-icons">error_outline</i>
          </div>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true"><i class="material-icons">clear</i></span>
          </button>
          <b>Error Alert:</b> Damn man! You screwed up the server this time. You should find a good excuse for your Boss...
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <!--        end notifications -->
    
    <div class="section section-signup page-header" style="background-image: url('./assets/img/city.jpg');">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 ml-auto mr-auto">
            <div class="card card-login">
              <form class="form" method="" action="">
                <div class="card-header card-header-primary text-center">
                  <h4 class="card-title">Login</h4>
                  <div class="social-line">
                    <a href="#pablo" class="btn btn-just-icon btn-link">
                      <i class="fa fa-facebook-square"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link">
                      <i class="fa fa-twitter"></i>
                    </a>
                    <a href="#pablo" class="btn btn-just-icon btn-link">
                      <i class="fa fa-google-plus"></i>
                    </a>
                  </div>
                </div>
                <p class="description text-center">Or Be Classical</p>
                <div class="card-body">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="First Name...">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <input type="email" class="form-control" placeholder="Email...">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" class="form-control" placeholder="Password...">
                  </div>
                </div>
                <div class="footer text-center">
                  <a href="#pablo" class="btn btn-primary btn-link btn-wd btn-lg">Get Started</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="socialmedia">
      <div class="container">
        <div class="row text-center">
          </div>
        </div>
        <br>
        <br>
        <div class="sharing-area text-center">
          <div class="row justify-content-center">
            <h3>Follow us on social media!</h3>
          </div>
          <button id="twitter" class="btn btn-raised btn-twitter sharrre">
            <i class="fa fa-twitter"></i> Tweet
          </button>
          <button id="facebook" class="btn btn-raised btn-facebook sharrre">
            <i class="fa fa-facebook-square"></i> Share
          </button>
          <button id="googlePlus" class="btn btn-raised btn-google-plus sharrre">
            <i class="fa fa-google-plus"></i> Share
          </button>
          <a id="github" href="https://github.com/adarshreddyash" target="_blank" class="btn btn-raised btn-github">
            <i class="fa fa-github"></i> Star
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Classic Modal -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <i class="material-icons">clear</i>
          </button>
        </div>
        <div class="modal-body">
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link">Nice Button</button>
          <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <!--  End Modal -->
  <footer class="footer" data-background-color="black">
    <div class="container">
      <nav class="float-left">
        <ul>
          <li>
            <a href="#">
              Media
            </a>
          </li>
          <li>
            <a href="#">
              Founders
            </a>
          </li>
          <li>
            <a href="#">
              Contact us
            </a>
          </li>
          <li>
            <a href="#">
              Suggesstions
            </a>
          </li>
		  <li>
            <a href="#">
              Careers
            </a>
          </li>
		  <li>
            <a href="#">
              privacy policy
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright float-right">
        &copy;
        <script>
          document.write(new Date().getFullYear())
        </script>, made with <i class="material-icons">favorite</i> ©
        <a href="#" target="_blank">Kits singapuram</a>.
      </div>
    </div>
  </footer>
  <!--   Core JS Files   -->
  <script src="./assets/js/core/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
  <script src="./assets/js/core/choices.js" type="text/javascript"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/choices.js') }}"></script>
  <script src="./assets/js/core/popper.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/popper.min.js') }}"></script>
  <script src="./assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/core/bootstrap-material-design.min.js') }}"></script>
  <script src="./assets/js/plugins/moment.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='assets/js/plugins/moment.min.js') }}"></script>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
  <script src="./assets/js/plugins/bootstrap-datetimepicker.js" type="text/javascript"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="./assets/js/plugins/nouislider.min.js" type="text/javascript"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js"></script>
  <script>
  $(document).ready(function(){
  $("#testimonial-slider").owlCarousel({
  items:1,
  itemsDesktop:[1000,1],
  itemsDesktopSmall:[979,1],
  itemsTablet:[768,1],
  pagination:true,
  navigation:true,
  navigationText:["",""],
  slideSpeed:1000,
  autoPlay:true
  });
  });
  </script>
  <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/material-kit.js?v=2.0.5" type="text/javascript"></script>
  <script>
    $(document).ready(function() {
      //init DateTimePickers
      materialKit.initFormExtendedDatetimepickers();

      // Sliders Init
      materialKit.initSliders();
    });


    function scrollToDownload() {
      if ($('.section-download').length != 0) {
        $("html, body").animate({
          scrollTop: $('.section-download').offset().top
        }, 1000);
      }
    }


    $(document).ready(function() {

      $('#facebook').sharrre({
        share: {
          facebook: true
        },
        enableHover: false,
        enableTracking: false,
        enableCounter: false,
        click: function(api, options) {
          api.simulateClick();
          api.openPopup('facebook');
        },
        template: '<i class="fab fa-facebook-f"></i> Facebook',
        url: 'https://vengixlabs-ash.firebaseapp.com/'
      });

      $('#googlePlus').sharrre({
        share: {
          googlePlus: true
        },
        enableCounter: false,
        enableHover: false,
        enableTracking: true,
        click: function(api, options) {
          api.simulateClick();
          api.openPopup('googlePlus');
        },
        template: '<i class="fab fa-google-plus"></i> Google',
        url: '#'
      });

      $('#twitter').sharrre({
        share: {
          twitter: true
        },
        enableHover: false,
        enableTracking: false,
        enableCounter: false,
        buttons: {
          twitter: {
            via: 'adarshreddyash'
          }
        },
        click: function(api, options) {
          api.simulateClick();
          api.openPopup('twitter');
        },
        template: '<i class="fab fa-twitter"></i> Twitter',
        url: '#'
      });

    });
  </script>
</body>

</html>
